<div class="l">
  <div class="l__row">
    {{#iterate 1}}
    <div class="l__col-1 bg-colour-big-stone">
      l__col-1
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 2}}
    <div class="l__col-2 bg-colour-chambray">
      l__col-2
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 3}}
    <div class="l__col-3 bg-colour-lochmara">
      l__col-3
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 4}}
    <div class="l__col-4 bg-colour-caribbean-green">
      l__col-4
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 5}}
    <div class="l__col-5 bg-colour-paris-daisy">
      l__col-5
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 6}}
    <div class="l__col-6 bg-colour-saffron">
      l__col-6
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 7}}
    <div class="l__col-7 bg-colour-carnation">
      l__col-7
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 8}}
    <div class="l__col-8 bg-colour-mulberry">
      l__col-8
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 9}}
    <div class="l__col-9 bg-colour-trendy-pink">
      l__col-9
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 10}}
    <div class="l__col-10 bg-colour-brink-pink">
      l__col-10
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 11}}
    <div class="l__col-11 bg-colour-keppel">
      11
    </div>
    {{/iterate}}
  </div>

  <div class="l__row">
    {{#iterate 12}}
    <div class="l__col-12 bg-colour-malibu">
      12
    </div>
    {{/iterate}}
  </div>
</div>
