.bg-colour-primary {
  background-color: $colour-primary;
  color: set-text-colour($colour-primary);

  a {
    &:focus,
    &:hover {
      //sass-lint:disable no-important
      background-color: darken($colour-primary, 10%) !important;
      //sass-lint:enabled no-important
    }
  }
}

@each $name, $colour in $colour-palette {
  .bg-#{$name} {
    background-color: $colour;
    color: set-text-colour($colour);

    a {
      &:focus,
      &:hover {
        //sass-lint:disable no-important
        background-color: darken($colour, 10%) !important;
        //sass-lint:enabled no-important
      }
    }
  }
}
