html {
  @include grid-media(map-get($breakpoints, 'xsmall')) {
    font-size: calc(16px + 6 * ((100vw - 480px) / 736));
  }

  @include grid-media(map-get($breakpoints, 'medium')) {
    font-size: 18px;
  }

  @include grid-media(map-get($breakpoints, 'large')) {
    font-size: 22px;
  }

  @include grid-media(map-get($breakpoints, 'xlarge')) {
    font-size: 26px;
  }

  background-color: $html-bg-colour;
  font-size: 16px;
}

%body {
  background-color: $body-bg-colour;
  color: $text-colour;
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-size-adjust: 100%;
}

body {
  @extend %body;
}

.body {
  @extend %body;

  &--grid-visual {
    @include grid-visual;
  }
}
