// sass-lint:disable class-name-format

$code-block-bg-colour: $colour-grey-dark !default;
$code-block-text-colour: $colour-white !default;

.code-block {
  .hljs {
    background-color: $code-block-bg-colour;
    color: $code-block-text-colour;
    display: block;
    overflow-x: auto;
    padding: map-get($spacers, 2);

    &-name,
    &-strong {
      font-weight: bold;
    }

    &-code,
    &-emphasis {
      font-style: italic;
    }

    &-tag {
      color: $colour-lochmara;
    }

    &-variable,
    &-template-variable,
    &-selector-id,
    &-selector-class {
      color: $colour-malibu;
    }

    &-string,
    &-bullet {
      color: $colour-caribbean-green;
    }

    &-type,
    &-title,
    &-section,
    &-attribute,
    &-quote,
    &-built_in,
    &-builtin-name {
      color: $colour-paris-daisy;
    }

    &-number,
    &-symbol,
    &-bullet {
      color: $colour-carnation;
    }

    &-keyword,
    &-selector-tag,
    &-literal {
      color: $colour-saffron;
    }

    &-comment,
    &-deletion,
    &-code {
      color: $colour-grey;
    }

    &-regexp,
    &-link {
      color: $colour-trendy-pink;
    }

    &-meta {
      color: $colour-carnation;
    }

    &-deletion {
      background-color: $colour-carnation;
      color: $colour-grey-dark;
    }

    &-addition {
      background-color: $colour-caribbean-green;
      color: $colour-grey-dark;
    }

    a {
      color: inherit;

      &:focus,
      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }
  }

  .highlight {
    background-color: $code-block-bg-colour;
    color: $code-block-text-colour;

    .hll { background-color: $colour-caper; }

    // Comment
    .c {
      color: $colour-keppel;
      font-style: italic;
    }

    // Error
    .err { border: 1px solid $colour-carnation; }

    // Keyword
    .k {
      color: $colour-caribbean-green;
      font-weight: bold;
    }

    // Operator
    .o { color: $colour-grey-light; }

    // Comment.Hashbang
    .ch {
      color: $colour-keppel;
      font-style: italic;
    }

    // Comment.Multiline
    .cm {
      color: $colour-keppel;
      font-style: italic;
    }

    // Comment.Preproc
    .cp { color: $colour-saffron; }

    // Comment.PreprocFile
    .cpf {
      color: $colour-keppel;
      font-style: italic;
    }

    // Comment.Single
    .c1 {
      color: $colour-keppel;
      font-style: italic;
    }

    // Comment.Special
    .cs {
      color: $colour-keppel;
      font-style: italic;
    }

    // Generic.Deleted
    .gd { color: $colour-falu-red; }

    // Generic.Emph
    .ge { font-style: italic; }

    // Generic.Error
    .gr { color: $colour-carnation; }

    // Generic.Heading
    .gh {
      color: $colour-chambray;
      font-weight: bold;
    }

    // Generic.Inserted
    .gi { color: $colour-caribbean-green; }

    // Generic.Output
    .go { color: $colour-grey; }

    // Generic.Prompt
    .gp {
      color: $colour-chambray;
      font-weight: bold;
    }

    // Generic.Strong
    .gs { font-weight: bold; }

    // Generic.Subheading
    .gu {
      color: $colour-mulberry;
      font-weight: bold;
    }

    // Generic.Traceback
    .gt { color: $colour-lochmara; }

    // Keyword.Constant
    .kc {
      color: $colour-caribbean-green;
      font-weight: bold;
    }

    // Keyword.Declaration
    .kd {
      color: $colour-caribbean-green;
      font-weight: bold;
    }

    // Keyword.Namespace
    .kn {
      color: $colour-caribbean-green;
      font-weight: bold;
    }

    // Keyword.Pseudo
    .kp { color: $colour-caribbean-green; }

    // Keyword.Reserved
    .kr {
      color: $colour-caribbean-green;
      font-weight: bold;
    }

    // Keyword.Type
    .kt { color: $colour-mulberry; }

    // Literal.Number
    .m { color: $colour-grey-light; }

    // Literal.String
    .s { color: $colour-carnation; }

    // Name.Attribute
    .na { color: $colour-keppel; }

    // Name.Builtin
    .nb { color: $colour-caribbean-green; }

    // Name.Class
    .nc {
      color: $colour-malibu;
      font-weight: bold;
    }

    // Name.Constant
    .no { color: $colour-buccaneer; }

    // Name.Decorator
    .nd { color: $colour-trendy-pink; }

    // Name.Entity
    .ni {
      color: $colour-grey-light;
      font-weight: bold;
    }

    // Name.Exception
    .ne {
      color: $colour-falu-red;
      font-weight: bold;
    }

    // Name.Function
    .nf { color: $colour-malibu; }

    // Name.Label
    .nl {
      color: $colour-caribbean-green;
    }

    // Name.Namespace
    .nn {
      color: $colour-malibu;
      font-weight: bold;
    }

    // Name.Tag
    .nt {
      color: $colour-caribbean-green;
      font-weight: bold;
    }

    // Name.Variable
    .nv { color: $colour-lochmara; }

    // Operator.Word
    .ow {
      color: $colour-trendy-pink;
      font-weight: bold;
    }

    // Text.Whitespace
    .w { color: $colour-grey-light; }

    // Literal.Number.Bin
    .mb { color: $colour-grey-light; }

    // Literal.Number.Float
    .mf { color: $colour-grey-light; }

    // Literal.Number.Hex
    .mh { color: $colour-grey-light; }

    // Literal.Number.Integer
    .mi { color: $colour-grey-light; }

    // Literal.Number.Oct
    .mo { color: $colour-grey-light; }

    // Literal.String.Affix
    .sa { color: $colour-carnation; }

    // Literal.String.Backtick
    .sb { color: $colour-carnation; }

    // Literal.String.Char
    .sc { color: $colour-carnation; }

    // Literal.String.Delimiter
    .dl { color: $colour-carnation; }

    // Literal.String.Doc
    .sd {
      color: $colour-carnation;
      font-style: italic;
    }

    // Literal.String.Double
    .s2 { color: $colour-carnation; }

    // Literal.String.Escape
    .se {
      color: $colour-trendy-pink;
      font-weight: bold;
    }

    // Literal.String.Heredoc
    .sh { color: $colour-carnation; }

    // Literal.String.Interpol
    .si {
      color: $colour-mulberry;
      font-weight: bold;
    }

    // Literal.String.Other
    .sx { color: $colour-caribbean-green; }

    // Literal.String.Regex
    .sr { color: $colour-mulberry; }

    // Literal.String.Single
    .s1 { color: $colour-carnation; }

    // Literal.String.Symbol
    .ss { color: $colour-lochmara; }

    // Name.Builtin.Pseudo
    .bp { color: $colour-caribbean-green; }

    // Name.Function.Magic
    .fm { color: $colour-malibu; }

    // Name.Variable.Class
    .vc { color: $colour-lochmara; }

    // Name.Variable.Global
    .vg { color: $colour-lochmara; }

    // Name.Variable.Instance
    .vi { color: $colour-lochmara; }

    // Name.Variable.Magic
    .vm { color: $colour-lochmara; }

    // Literal.Number.Integer.Long
    .il { color: $colour-grey-light; }
  }
}
