$module: 'headings';

%headings,
.#{$module} {
  color: $headings-colour;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-bottom: $headings-margin-bottom;
}

@each $index, $font-size in $headings-font-sizes {
  h#{$index} {
    @extend %headings;
  }

  h#{$index},
  .#{$module}--#{$index} {
    font-size: $font-size;
  }
}
