ul,
ol {
  margin: $spacer 0 0 $spacer;

  li {
    line-height: $base-line-height;
    margin-top: map-get($spacers, 2);
  }

  ul,
  ol {
    margin-top: 0;
  }
}

ul {
  li {
    list-style: disc;
  }

  ul {
    li {
      list-style: circle;
    }
  }
}
