ul,
ol {
  margin: $spacer 0 0 $spacer;

  li {
    line-height: $base-line-height;
    margin-top: map-get($spacers, 2);
  }

  ul,
  ol {
    margin-top: 0;
  }
}

ul {
  li {
    list-style: disc;
  }

  ul {
    li {
      list-style: circle;
    }
  }
}

dl {
  margin: $spacer 0 0 $spacer;

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: map-get($spacers, 4);
  }
}

// sass-lint:disable mixins-before-declarations, property-sort-order
.dl-horizontal {
  $dd-column-size: $grid-columns / 1.4;
  $dt-column-size: $grid-columns - $dd-column-size;

  dl {
    margin: 0;

    @include grid-container;
  }

  dt {
    @include grid-column($dt-column-size);

    margin-bottom: .5rem;
  }

  dd {
    margin-left: 0;

    @include grid-column($dd-column-size);

    margin-bottom: map-get($spacers, 2);
  }
}
// sass-lint:enable mixins-before-declarations
