$c-alert-module-name: 'c-alert' !default;

$c-alert-padding-y: map-get($spacers, 2) !default;
$c-alert-padding-x: map-get($spacers, 4) !default;
$c-alert-margin-bottom: map-get($spacers, 1) !default;
$c-alert-border-radius: $border-radius !default;
$c-alert-border-width: 1px !default;

.#{$c-alert-module-name} {
  @include border-radius($c-alert-border-radius);

  border-color: transparent;
  border-style: solid;
  border-width: $c-alert-border-width;
  margin-bottom: $c-alert-margin-bottom;
  padding: $c-alert-padding-y $c-alert-padding-x;

  @each $name, $colour in $theme-colours {
    &--#{$name} {
      background-color: mix($colour, $colour-white);
      border-color: $colour;
      color: mix($colour, $colour-black);
    }
  }
}
