$c-block-hero-module-name: 'c-block-hero';

$c-block-hero-bg-colour: $colour-primary !default;
$c-block-hero-text-colour: $colour-white !default
$c-block-hero-contrast: ch-color-contrast($c-block-hero-bg-colour, $c-block-hero-text-colour);

@if ($c-block-hero-contrast < 3) {
  @warn 'Contrast ratio of #{$c-block-hero-text-colour} on #{$c-block-hero-bg-colour} is pretty bad, just #{$c-block-hero-contrast}';
}

.#{$c-block-hero-module-name} {
  background-color: $c-block-hero-bg-colour;
  color: $c-block-hero-text-colour;
  display: block;
  min-height: 50vh;
  position: relative;

  &__image {
    display: block;
    min-height: 50vh;
    object-fit: cover;
    width: 100%;

    &--full {
      min-height: 100vh;
    }

    &--dark {
      filter: brightness(50%);
    }

    &--light {
      filter: blur(1px);
    }
  }

  &__wrapper {
    @include media(map-get($breakpoints, 'medium')) {
      @include size(100%);

      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 0;
      padding: $spacer;
      position: absolute;
      top: 0;
    }

    text-align: center;
  }

  &__headline,
  &__copy {
    width: 75%;

    &--dark {
      color: $colour-white;
    }

    &--light {
      color: $colour-black;
    }
  }

  &__headline {
    font-size: 2.6rem;
    transition: .2s ease;
  }

  &__copy {
    font-size: 1.5rem;
  }
}
