//sass-lint:disable force-element-nesting

$c-name-module: 'c-btn';

$c-btn-border-width: 1px !default;
$c-btn-font-weight: normal !default;

.#{$c-name-module} {
  @include button-size;

  border: $c-btn-border-width solid transparent;
  display: inline-block;
  font-weight: $c-btn-font-weight;
  text-align: center;
  transition: .2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  @each $key, $value in $name-sizes {
    &--#{$key} {
      &.#{$c-name-module} {
        font-size: $value;
      }
    }
  }

  &--link {
    border-radius: 0;
    color: $link-colour;
    font-weight: $base-font-weight;
    text-decoration: none;

    @mixin hover-focus-active {
      text-decoration: none;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--primary {
    @include button-colour-variant($colour-primary);

    .#{$c-name-module}__icon * {
      fill: set-text-colour($colour-primary);
    }
  }

  &--secondary {
    @include button-outline-colour-variant($colour-secondary);

    .#{$c-name-module}__icon * {
      fill: $colour-secondary;
    }
  }

  @each $name, $colour in $colour-palette {
    &--#{$name} {
      @include button-colour-variant($colour);

      .#{$c-name-module}__icon * {
        fill: set-text-colour($colour);
      }
    }

    &--outline-#{$name} {
      @include button-outline-colour-variant($colour);

      .#{$c-name-module}__icon * {
        fill: $colour;
      }
    }
  }

  &__icon {
    height: .75em;
    width: .75em;
  }
}
