$module: 'c-footer';

.#{$module} {
  background-color: $colour-primary;
  color: $colour-white;
  padding: 1rem;
  text-align: center;

  &--align-left {
    text-align: left;

    .#{$module}__logo {
      margin: inherit;
    }

    .#{$module}__separator {
      display: none;
    }
  }

  &__link {
    color: $colour-white;
  }

  &__logo {
    margin: 0 auto;
  }

  .c-nav__link {
    color: $colour-white;
  }

  &__separator {
    border: solid 1px mix($colour-primary, $colour-white, 75%);
    margin-bottom: .5rem;
    margin-top: .5rem;
    width: 15%;
  }

  &__imprint {
    line-height: 1.5;
  }

  &__heart {
    display: inline;
    height: 1.5em;
    vertical-align: middle;
  }
}
