$module: 'c-header';

$c-header-bg-colour: $colour-primary !default;
$c-header-link-colour: $colour-white !default;
$c-header-text-colour: mix($colour-primary, $colour-white, 50%) !default;

.#{$module} {
  background-color: $c-header-bg-colour;
  color: $c-header-text-colour;

  &__wrapper {
    margin-left: $spacer;
    margin-right: $spacer;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  &__link {
    color: $c-header-link-colour;
  }
}
