$module: 'c-header';

$c-header-bg-colour: $colour-primary !default;
$c-header-link-colour: $colour-white !default;
$c-header-text-colour: mix($colour-primary, $colour-white, 50%) !default;

.#{$module} {
  @include grid-container;

  background-color: $c-header-bg-colour;
  color: $c-header-text-colour;

  &--left {
    .#{$module}__wrapper {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &--right {
    .#{$module}__wrapper {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &--center {
    .#{$module}__wrapper {
      align-items: center;
      justify-content: center;
    }
  }

  &__wrapper {
    @include grid-column($grid-columns);

    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
  }

  &__link {
    color: $c-header-link-colour;
    display: block;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  &__nav {
    display: block;
    margin-left: $spacer;
  }

  .c-nav__list {
    margin: 0;
  }

  .c-nav__item {
    @include hover-focus-active {
      background-color: darken($c-header-bg-colour, 25%);
    }

    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .c-nav__link {
    @include hover-focus-active {
      text-decoration: none;
    }

    color: $c-header-link-colour;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
