$c-header-bg-colour: $colour-primary;
$c-header-link-colour: $colour-white;
$c-header-text-colour: mix($colour-primary, $colour-white, 50%);

.c-header {
  background-color: $c-header-bg-colour;
  color: $c-header-text-colour;

  &__wrapper {
    margin-left: $spacer;
    margin-right: $spacer;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  &__link {
    color: $c-header-link-colour;
  }
}
