$module: 'c-logo';

.#{$module} {
  display: block;
  width: 12rem;

  &--bg-white {
    * {
      fill: $colour-white;
    }
  }

  &--bg-black {
    * {
      fill: $colour-black;
    }
  }
}

$module: 'c-heart';

.#{$module} {
  &__property-fill {
    fill: $colour-carnation;
  }
}
