// sass-lint:disable mixins-before-declarations

@mixin button-size($padding-y: .5rem, $padding-x: .75rem,
  $font-size: $base-font-size, $line-height: 1.25,
  $border-radius: $border-radius) {

  @include border-radius($border-radius);

  font-size: $font-size;
  line-height: $line-height;
  padding: $padding-y $padding-x;
}

@mixin button-colour-variant($colour) {
  background-color: $colour;
  color: set-text-colour($colour);

  @include hover-focus-active {
    background-color: darken($colour, 15);
    color: set-text-colour($colour);
    text-decoration: none;
  }
}

@mixin button-outline-colour-variant($colour) {
  background-color: $colour-white;
  border-color: $colour;

  @include hover-focus-active {
    border-color: darken($colour, 15);
    text-decoration: none;
  }
}
